
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { position: relative; width: 100%; min-height: 100vh; display: flex; flex-direction: column; }

h1 { font: 500 30px/30px $mainFontFamily; letter-spacing: -1.5px; }
h2 { font: 500 16px/20px $mainFontFamily; letter-spacing: -.48px; }
h3 { font: bold 16px/26px $mainFontFamily; text-transform: uppercase; }
h4 { font: bold 17px/22px $titleFontFamily; }

p, .p { font: 450 15px/18px $mainFontFamily; letter-spacing: -.3px; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .4s ease-out;
  &:active, &:focus { color: $linkColor_hover; }

  img { transition: all .4s ease-out; }
  svg { transition: fill .4s ease-out; }
}

.container { position: relative; width: $mobileWidth; margin: 0 auto; padding: 0 1rem; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(4, 1fr);
  .content { grid-column: 1 / 5; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 0 2rem; grid-gap: 2rem 1.25rem; grid-template-columns: repeat(8, 1fr);
    .content { grid-column: 1 / 9; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 0 2.5rem; grid-gap: 2.5rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $tabletWidth) {
  h3 { font-weight: 600; font-size: 15px; line-height: 18px; letter-spacing: -.3px; text-transform: lowercase; }
}
@media screen and (min-width: $laptopWidth) {
  body { overflow: visible; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth) {
  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: none; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  h1 { font-size: 50px; line-height: 50px; letter-spacing: -2.5px; }
}


/* Form styles */
.form {
  &__line { display: flex; }

  &__label { color: $mainColor; font: 500 13px/13px $mainFontFamily; letter-spacing: -.65px; }
  &__textarea,
  &__input { width: 100%; border: 1px solid $borderColor; border-radius: 2px; background: transparent; color: $BrightBlue; font: 500 13px/13px $mainFontFamily; letter-spacing: -.65px;
    &::placeholder { color: $BrightBlue; }
    &:active, &:focus {
      &::placeholder { color: $borderColor; }

      & + .form__button { display: block; }
    }

    &.success { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  &__textarea { min-height: 70px; padding: .5rem .625rem; resize: none; }
  &__input { height: 35px; padding: 0 .625rem;
    &[name=search] { padding: 0 4.625rem 0 .625rem;

      /* Убирает кастомный крестик в браузерах */
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration { display: none; }
    }
  }
  &__button { position: absolute; top: 0; right: 0; display: none; }
}

@media screen and (min-width: $laptopWidth) {
  // .form {}
}

.button {
  a { width: 100%; height: 35px; border-radius: 2px; padding: 0 .75rem; background: $linkColor; color: $LightGrey; font: bold 13px/13px $mainFontFamily; letter-spacing: -.65px; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:active, &:focus { background: $buttonBackground_hover; color: $buttonColor_hover; }
  }

  &--search a { border-radius: 2px; }
  &--disabled a { background: $buttonBackground_disabled; color: $buttonColor_disabled; }
}

@media screen and (min-width: $laptopWidth) {
  .button a { width: auto;
    &:hover { background: $buttonBackground_hover; color: $buttonColor_hover; }
  }
}


/* Layout styles */
header { @include z-index('header');
  .container { height: 97px;
    .header { display: flex; flex-direction: column; justify-content: space-between;
      &-ascii { position: relative; width: calc(100% + 1rem); margin: 0 -.5rem; display: flex;
        &__art { position: absolute; left: 0; top: 0; right: 0; width: 100%; height: 69px; display: flex; justify-content: center; align-items: center; z-index: -1;
          img { width: 100%; filter: drop-shadow($lightShadow) drop-shadow($lightShadow-2); flex: none;
            &.logo {
              &-5 { height: 66px; }
            }
          }
        }
        &__lead { display: none; }
      }

      &__block { display: flex; justify-content: space-between; align-items: center; }

      &-logo a { display: flex;
        svg { width: 220px; height: 28px; filter: drop-shadow($lightShadow) drop-shadow($lightShadow-2); flex: none; }
      }

      &-menu { display: none; }
      &-menu-bar { position: relative; display: flex; align-items: center;
        &::before { @include pseudo; left: -17px; top: -2.5px; width: 1px; height: 18px; background: $borderColor; }

        a { display: flex;
          &:active svg, &:focus svg { fill: $linkColor_hover; }

          svg { width: 14px; height: 13px; fill: $mainColor; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { height: 135px;
      .header {
        &-ascii { width: 100%; margin: 0;
          &__art { height: 103px;
            img { width: 518px;
              &.logo {
                &-5 { height: auto; }
              }
            }
          }
        }
        &-logo a svg { width: 251px; height: 32px; }

        &__group { display: flex; justify-content: flex-end; align-items: center; }

        &-menu { display: flex;
          ul { display: flex; align-items: center;
            li { position: relative;
              &:not(:first-child) { margin-left: 1.625rem;
                &::before { @include pseudo; left: -12.5px; top: 0; width: 1px; height: 18px; background: $borderColor; }
              }

              a { color: $mainColor; font-size: 15px; line-height: 18px; letter-spacing: -.3px; display: flex; }
            }
          }
        }
        &-menu-bar { margin-left: 1.8125rem; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .header {
        &-ascii { height: 100%; flex-direction: column; justify-content: flex-end;
          // &__art {}
          &__lead { color: $leadTextColor; font-size: 9px; letter-spacing: -.18px; text-shadow: $lightShadow, $lightShadow-2; display: flex; align-self: center; }
        }
        &-menu ul li a:hover { color: $linkColor_hover; }
        &-menu-bar a:hover svg { fill: $linkColor_hover; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header {
        &-ascii {
          &__art { height: 135px; align-items: flex-start;
            img {
              &.logo {
                &-1 { width: 723px; height: 125px; }
                &-2 { width: 678px; height: 100px; }
                &-3 { width: 654px; height: 100px; }
                &-4 { width: 920px; height: 85px; }
                &-5 { width: 543px; height: 119px; }
                &-6 { width: 617px; height: 125px; }
                &-7 { width: 812px; height: 87px; }
                &-8 { width: 595px; height: 103px; }
                &-9 { width: 737px; height: 107px; }
              }
            }
          }
          &__lead { margin-bottom: -1.75rem; }
        }

        &__block { margin-bottom: .875rem; align-items: flex-end; }
        &__group { margin-bottom: .125rem; }
      }
    }
  }
}

main { flex-grow: 1; @include z-index('main'); }

footer { background: $Black; @include z-index('footer');
  .container { padding: 1.25rem 1.25rem 2rem;
    .footer {
      &__main { margin-bottom: 1.375rem; }

      &-ascii { display: none; }
      &-copyright { color: $footerTextColor; font-weight: 600; line-height: 20px; letter-spacing: -.32px;
        span { color: $White; }
      }

      &__group { display: flex;
        &:not(:last-child) { margin-bottom: 1.375rem; }
        &:nth-child(1) { height: 154px; flex-direction: column; flex-wrap: wrap; }
        &:nth-child(2) .footer-menu {
          &:nth-child(even) { margin: 0 0 0 1.25rem; }
          &:nth-child(n + 3) { margin: 1.375rem 0 0 0; }
        }
      }

      &-menu { width: calc((100% - 1.25rem) / 2);
        &:nth-child(even) { margin-top: 1.375rem; }
        &:nth-child(n + 3) { margin-left: 1.25rem; }

        &__title { display: flex;
          a { color: $White; font-weight: 600; line-height: 20px; letter-spacing: -.32px; }
        }
        &__list { margin-top: .25rem; }
        &__item { display: flex;
          &:not(:first-child) { margin-top: .25rem; }

          a { color: $footerTextColor; font-size: 12px; line-height: 20px; letter-spacing: -.6px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1.25rem 2rem 2rem;
      .footer {
        &__navigation { height: 224px; display: flex; flex-direction: column; flex-wrap: wrap; }
        &__group { width: calc((100% - 1.25rem) / 2);
          &:not(:last-child) { margin: 0; }
          &:nth-child(1) { height: 182px;
            .footer-menu:nth-child(1) { height: 68px; }
          }
          &:nth-child(2) { margin-left: 1.25rem; order: 3; }
          &:nth-child(3) { margin-top: 1.375rem; order: 2; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .footer { display: flex; justify-content: space-between;
        &__main { width: 335.5px; margin: 0 1.25rem 0 0; }

        &-ascii { display: block;
          &__art { display: flex;
            img { width: 100%; flex: none; }
          }
        }
        &-copyright { margin-top: .9375rem; }

        &__navigation { width: 572.5px; height: 248px; }

        &-menu {
          &__title a:hover { color: $linkColor_hover; }
          &__item a:hover { color: $linkColor_hover; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 1.25rem 2.5rem 2rem;
      .footer {
        &__main { width: 480px; }

        &-ascii {
          &__art {
            img { width: 434px; }
          }
        }

        &__navigation { width: 700px; height: 224px; }
      }
    }
  }
}


/* Module styles */
@import 'module/menu';
@import 'module/animation';


/* Page styles */
@import 'page/index';
@import 'page/glossary';
@import 'page/article';
@import 'page/blogs';
