extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'article'

block content
  section#article
    .container
      .article.content
        aside.article__sidebar
          .article__banner.article__banner--small
            a(href='#' target='_blank' title='Стань спикером на PHDAYS12')
              img(src='/image/banner/phdays12.jpg' srcset='/image/banner/phdays12@2x.jpg 2x' loading='lazy' alt='PHDAYS12')
          .article-feed.slider
            .article-feed__title
              h2
                span _Лента
            .article-feed-list.swiper-wrapper
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Qualcomm тайно собирает данные со смартфонов пользователей без их согласия')
                    h4 Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='ChaosGPT — новая нейросеть без моральных и этических ограничений')
                    h4 ChaosGPT — новая нейросеть без моральных и этических ограничений
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux')
                    h4 Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии')
                    h4 Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии
        article.article__main
          .article__head.article__head--small-image
            .article__group
              .article__title
                h1
                  span Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
              .article__image
                img(src='/image/article/3.jpg' srcset='/image/article/3@2x.jpg 2x' loading='eager' alt='Qualcomm тайно собирает данные со смартфонов пользователей без их согласия')
            .article__preview
              p Ранее неизвестный вариант Royal с помощью одной команды может зашифровать все виртуальные машины
          .article__details
            time.article__date(datetime='2023-06-30') 30 июн, 12:28
            ul.article-tags
              li.article-tags__link
                a(href='#' title='Новости') Новости
              li.article-tags__tag
                a(href='#' title='#Linux') #Linux
              li.article-tags__tag
                a(href='#' title='#ETAC') #ETAC
              li.article-tags__tag
                a(href='#' title='#VMware') #VMware
              li.article-tags__tag
                a(href='#' title='#Eqinix') #Eqinix
              li.article-tags__tag
                a(href='#' title='#VirusTotal') #VirusTotal
          .article__body
            .article__text
              p Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.
              p Новый вариант Royal Ransomware выполняется с помощью командной строки и поддерживает нескольких флагов, которые дадут оператору частичный контроль над процессом шифрования:
            .article__code
            .article__text
              .p
                | Исследователи из компании 
                .wiki(title='Check Point')
                  span Check Point
                  .wiki-tooltip
                    .wiki-tooltip__text ChatGPT — это чат-бот, который работает на модели искусственного интеллекта GPT (Generative Pre-trained Transformer), разработанной компанией OpenAI. 
                    .wiki-tooltip__text Модель обучена на большом объёме текстовых данных и предназначена для генерации человекоподобных ответов на заданные вопросы или фразы.ChatGPT всегда старается понять контекст вопроса и сгенерировать подходящий ответ. Чат-бот способен генерировать текст в различных стилях и тематиках, может использоваться в различных сферах и областях для облегчения рутинных или даже творческих задач, выполняемых человеком.
                    .wiki-tooltip__button
                      .button
                        a(href='#' target='_blank' title='Прейти к статье') Прейти к статье
                |  в своём 
                a(href='#' title='') недавнем отчёте
                |  связали иранскую государственную хакерскую группировку с новой волной фишинговых атак, нацеленных на Израиль. Целью вредоносной кампании стало развертывание обновлённой версии Windows-бэкдора под названием PowerLess.
            .article__subtitle
              h2 Исследователь кибербезопасности
            .article__text
              p При шифровании файлов программа-вымогатель добавит расширение «.royal_u» ко всем зашифрованным файлам на виртуальной машине. Ранее антивирусные решения ранее не могли обнаружить новый образец Royal Ransomware, но теперь он обнаруживается 23 из 62 модулей сканирования на VirusTotal. Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.
            .article__subtitle
              h3 Исследователь кибербезопасности
            .article__text
              p Новый вариант Royal Ransomware выполняется с помощью командной строки и поддерживает нескольких флагов, которые дадут оператору частичный контроль над процессом шифрования: Ранее антивирусные решения ранее не могли обнаружить новый образец Royal Ransomware, но теперь он обнаруживается 23 из 62 модулей сканирования на VirusTotal. Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.
            // Цитата
            .article__quote
              blockquote.blockquote
                .blockquote__text
                  p В Китае сегодня все чаще и чаще искусственный интеллект применяется для слежки за людьми, создания социального рейтинга граждан, рейтинга благонадежности. Но анализ активности головного мозга – это уже, по-моему, за гранью реальности. В частности, речь идет об анализе активности мозга сотрудников компаний. Датчики на головном уборе считывают «мозговые волны» и показывают / прогнозируют, насколько устал сотрудник, близок ли к депрессии, теряет ли концентрацию, в стрессе ли он, схватит ли топор и начнет лупить коллег…
                .blockquote__author Владимир Безмалый
                .blockquote__position Исследователь кибербезопасности
