extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'article'

block content
  section#article
    .container
      .article.content
        aside.article__sidebar
          .article__banner.article__banner--small
            a(href='#' target='_blank' title='Стань спикером на PHDAYS12')
              img(src='/image/banner/phdays12.jpg' srcset='/image/banner/phdays12@2x.jpg 2x' loading='lazy' alt='PHDAYS12')
          .article-feed.slider
            .article-feed__title
              h2
                span _Лента
            .article-feed-list.swiper-wrapper
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Qualcomm тайно собирает данные со смартфонов пользователей без их согласия')
                    h4 Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='ChaosGPT — новая нейросеть без моральных и этических ограничений')
                    h4 ChaosGPT — новая нейросеть без моральных и этических ограничений
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux')
                    h4 Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux
              article.article-feed-list__item.swiper-slide
                .article-feed-list__head
                  time.article-feed-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .article-feed-list__rubric
                    a(href='#' title='Инструменты') Инструменты
                .article-feed-list__title
                  a(href='/article.html' title='Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии')
                    h4 Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии
        article.article__main
          .article__head
            .article__title
              h1
                span.animation-decode.animation-decode--blue Qualcomm тайно собирает данные со смартфонов пользователей без их согласия
            .article__preview
              p Ранее неизвестный вариант Royal с помощью одной команды может зашифровать все виртуальные машины
          .article__details
            time.article__date(datetime='2023-06-30') 30 июн, 12:28
            ul.article-tags
              li.article-tags__link
                a(href='#' title='Новости') Новости
              li.article-tags__tag
                a(href='#' title='#Linux') #Linux
              li.article-tags__tag
                a(href='#' title='#ETAC') #ETAC
              li.article-tags__tag
                a(href='#' title='#VMware') #VMware
              li.article-tags__tag
                a(href='#' title='#Eqinix') #Eqinix
              li.article-tags__tag
                a(href='#' title='#VirusTotal') #VirusTotal
          .article__body
            .article__text
              p Исследователь кибербезопасности Уилл Томас из Центра анализа угроз Equinix (ETAC) обнаружил , что программа-вымогатель Royal Ransomware добавила поддержку шифрования устройств Linux к своим последним вариантам вредоносного ПО, нацеленным на виртуальные машины VMware ESXi.
              p Новый вариант Royal Ransomware выполняется с помощью командной строки и поддерживает нескольких флагов, которые дадут оператору частичный контроль над процессом шифрования:
