extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'blogs'

block content
  section#blogs
    .container
      .blogs.content
        .blogs__title
          h1 
