extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'glossary'

block content
  section#glossary
    .container
      .glossary.content
        .glossary__title
          h1 
