extends include/main

block variables
  - let title = 'SecurityLab'
  - let description = ''
  - let page = 'index'

block content
  section#main
    .container
      .main.content
        .main-list
          article.main-list__card
            .main-list__head
              .main-list__title
                a(href='/article.html' title='Новая Linux-версия программы Royal Ransomware нацелена на виртуальные машины ESXi')
                  h1
                    span.animation-decode Новая Linux-версия программы Royal Ransomware нацелена на виртуальные машины ESXi
              .main-list__image
                a(href='/article.html' title='Новая Linux-версия программы Royal Ransomware нацелена на виртуальные машины ESXi')
                  img(src='/image/article/1.jpg' srcset='/image/article/1@2x.jpg 2x' loading='eager' alt='Новая Linux-версия программы Royal Ransomware нацелена на виртуальные машины ESXi')
            .main-list__details
              time.main-list__date(datetime='2023-06-30') 30 июн, 12:28
              ul.main-list-tags
                li.main-list-tags__tag
                  a(href='#' title='Новости') Новости
          article.main-list__card
            .main-list__head
              .main-list__title
                a(href='/article-image.html' title='Всевидящий китайский ИИ: когда спутники станут оружием для контроля над миром?')
                  h2 Всевидящий китайский ИИ: когда спутники станут оружием для контроля над миром?
            .main-list__details
              time.main-list__date(datetime='2023-06-30') 30 июн, 12:28
          article.main-list__card
            .main-list__head
              .main-list__title
                a(href='/article-small-image.html' title='Хакеры укрощают Action1: продукт для удаленного мониторинга превратился в инструмент взлома')
                  h2 Хакеры укрощают Action1: продукт для удаленного мониторинга превратился в инструмент взлома
            .main-list__details
              time.main-list__date(datetime='2023-06-30') 30 июн, 12:28
          article.main-list__card
            .main-list__head
              .main-list__title
                a(href='/article-image.html' title='Национальной комиссии по этике в ИИ предстоит отрегулировать использование генеративных моделей в образовательных целях')
                  h2 Национальной комиссии по этике в ИИ предстоит отрегулировать использование генеративных моделей в образовательных целях
            .main-list__details
              time.main-list__date(datetime='2023-06-30') 30 июн, 12:28
          article.main-list__card
            .main-list__head
              .main-list__title
                a(href='/article-small-image.html' title='Завершено расследование по делу группировки REvil')
                  h2 Завершено расследование по делу группировки REvil
            .main-list__details
              time.main-list__date(datetime='2023-06-30') 30 июн, 12:28
  section#main-news
    .container
      .main-news.content
        aside.main-news__sidebar
          .main-news__banner
            a(href='#' target='_blank' title='Стань спикером на PHDAYS12')
              img(src='/image/banner/phdays12.jpg' srcset='/image/banner/phdays12@2x.jpg 2x' loading='lazy' alt='PHDAYS12')
          .main-news-top.slider
            .main-news-top__title
              h2
                span _Топ_за_неделю
            .main-news-top-list.swiper-wrapper
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-1
                  img(src='/image/ascii/1.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Технологии и экспертиза по сетевой безопасности на подъеме')
                    h4 Технологии и экспертиза по сетевой безопасности на подъеме
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-2
                  img(src='/image/ascii/2.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='ChaosGPT — новая нейросеть без моральных и этических ограничений')
                    h4 ChaosGPT — новая нейросеть без моральных и этических ограничений
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-3
                  img(src='/image/ascii/3.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux')
                    h4 Крупный облачный провайдер подвергся кибератаке из-за ошибки в ядре Linux
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-4
                  img(src='/image/ascii/4.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии')
                    h4 Цифровые паспорта в России: покупка алкоголя и сигарет с помощью новой технологии
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-5
                  img(src='/image/ascii/5.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Неуправляемый искусственный интеллект приведет к ядерной катастрофе и мировому хаосу')
                    h4 Неуправляемый искусственный интеллект приведет к ядерной катастрофе и мировому хаосу
                .main-news-top-list__image
                  a(href='/article.html' title='Неуправляемый искусственный интеллект приведет к ядерной катастрофе и мировому хаосу')
                    img(src='/image/article/2.jpg' srcset='/image/article/2@2x.jpg 2x' loading='lazy' alt='Неуправляемый искусственный интеллект приведет к ядерной катастрофе и мировому хаосу')
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-6
                  img(src='/image/ascii/6.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Хакеры укрощают Action1: продукт для удаленного мониторинга превратился в инструмент взлома')
                    h4 Хакеры укрощают Action1: продукт для удаленного мониторинга превратился в инструмент взлома
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-7
                  img(src='/image/ascii/7.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Звёздные войны: в США призвали защитить спутники от атак России и Китая')
                    h4 Звёздные войны: в США призвали защитить спутники от атак России и Китая
              article.main-news-top-list__item.swiper-slide
                .main-news-top-list__count.main-news-top-list__count-8
                  img(src='/image/ascii/8.svg' alt='icon')
                .main-news-top-list__head
                  time.main-news-top-list__date(datetime='2023-06-30') 30 июн, 12:28
                  .main-news-top-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-top-list__title
                  a(href='/article.html' title='Coles подтверждает утечку данных клиентов в результате кибератаки на Latitude Financial')
                    h4 Coles подтверждает утечку данных клиентов в результате кибератаки на Latitude Financial
        .main-news__main
          .main-news__title
            h2
              span _Новости
          .main-news__link
            a(href='#' title='Показать все') Показать все &#8250;
          .main-news-list
            - for (let i = 1; i <= 5; i++)
              article.main-news-list__item
                .main-news-list__head
                  time.main-news-list__date(datetime='2023-09-12') 12 сен, 15:14
                  .main-news-list__rubric
                    a(href='#' title='Антивирус') Антивирус
                .main-news-list__details
                  .main-news-list__title
                    a(href='/article.html' title='Positive Technologies: в 70% компаний замечена активность ВПО, которую пропустили базовые средства защиты')
                      h4 Positive Technologies: в 70% компаний замечена активность ВПО, которую пропустили базовые средства защиты
                  .main-news-list__preview
                    p Как эффективно защитить корпоративную сеть, расскажем на презентации PT Sandbox 5.0
              article.main-news-list__item
                .main-news-list__head
                  time.main-news-list__date(datetime='2023-09-12') 12 сен, 15:14
                  .main-news-list__rubric
                    a(href='#' title='Киберапокалипсис') Киберапокалипсис
                .main-news-list__details
                  .main-news-list__title
                    a(href='/article.html' title='Революция искусственного интеллекта: исследователи Google рассуждают о том, как технологии перевернут человеческий мир')
                      h4 Революция искусственного интеллекта: исследователи Google рассуждают о том, как технологии перевернут человеческий мир
                  .main-news-list__preview
                    p Специальные YouTube-уроки наглядно демонстрируют, как им пользоваться
              article.main-news-list__item
                .main-news-list__head
                  time.main-news-list__date(datetime='2023-09-12') 12 сен, 15:14
                  .main-news-list__rubric
                    a(href='#' title='Атаки') Атаки
                .main-news-list__details
                  .main-news-list__title
                    a(href='/article.html' title='Маленькая ошибка в коде DeFi-платформы SafeMoon позволила злоумышленникам «выкачать» криптовалюту почти на 9 миллионов долларов')
                      h4 Маленькая ошибка в коде DeFi-платформы SafeMoon позволила злоумышленникам «выкачать» криптовалюту почти на 9 миллионов долларов
          .main-news__button
            .button
              a(href='#' title='Загрузить еще 10 новостей') Загрузить еще 10 новостей
  section#main-blogs
    .container
      .main-blogs.content
        .main-blogs__image
          img(src='/image/ascii/blogs.svg' alt='Blogs')
        .main-blogs__title
          h2
            span _Hовое_в_блогах
        .main-blogs-list
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='Positive_Investing')
                    h3 Positive_Investing
                .main-blogs-list__desc Бизнес без опасности
              .main-blogs-list__image
                a(href='#' title='Positive_Investing')
                  img(src='/image/blog/1.jpg' srcset='/image/blog/1@2x.jpg 2x' loading='lazy' alt='Positive_Investing')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='ГК «Росводоканал» управляет привилегированным доступом с помощью решения Indeed PAM')
                  h2 ГК «Росводоканал» управляет привилегированным доступом с помощью решения Indeed PAM
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='Cloud_Networks')
                    h3 Cloud_Networks
                .main-blogs-list__desc Облачный бизнес
              .main-blogs-list__image
                a(href='#' title='Cloud_Networks')
                  img(src='/image/blog/2.jpg' srcset='/image/blog/2@2x.jpg 2x' loading='lazy' alt='Cloud_Networks')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='Темная сторона технологий: развивающаяся угроза атак с использованием дронов')
                  h2 Темная сторона технологий: развивающаяся угроза атак с использованием дронов
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='Лаборатория_Касперского')
                    h3 Лаборатория_Касперского
                .main-blogs-list__desc Блог компании «Лаборатория Касперского»
              .main-blogs-list__image
                a(href='#' title='Лаборатория_Касперского')
                  img(src='/image/blog/3.jpg' srcset='/image/blog/3@2x.jpg 2x' loading='lazy' alt='Лаборатория_Касперского')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='Security Week 2320: патч Microsoft выключит старые загрузочные носители')
                  h2 Security Week 2320: патч Microsoft выключит старые загрузочные носители
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='indeed')
                    h3 indeed
                .main-blogs-list__desc Компания Индид
              .main-blogs-list__image
                a(href='#' title='indeed')
                  img(src='/image/blog/4.jpg' srcset='/image/blog/4@2x.jpg 2x' loading='lazy' alt='indeed')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='ГК «Агроэко» выбирает Indeed AM для защиты данных')
                  h2 ГК «Агроэко» выбирает Indeed AM для защиты данных
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='Юрий_Кочетов')
                    h3 Юрий_Кочетов
                .main-blogs-list__desc Просто хакер
              .main-blogs-list__image
                a(href='#' title='Юрий_Кочетов')
                  img(src='/image/blog/5.jpg' srcset='/image/blog/5@2x.jpg 2x' loading='lazy' alt='Юрий_Кочетов')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='Хакерские соревнования: что это такое и как в них участвовать')
                  h2 Хакерские соревнования: что это такое и как в них участвовать
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          article.main-blogs-list__item
            .main-blogs-list__head
              .main-blogs-list__group
                .main-blogs-list__name
                  a(href='#' title='Positive_Investing')
                    h3 Positive_Investing
                .main-blogs-list__desc Бизнес без опасности
              .main-blogs-list__image
                a(href='#' title='Positive_Investing')
                  img(src='/image/blog/1.jpg' srcset='/image/blog/1@2x.jpg 2x' loading='lazy' alt='Positive_Investing')
            .main-blogs-list__details
              .main-blogs-list__title
                a(href='/article.html' title='Акционеры Positive Technologies утвердили вторую часть дивидендов за 2022 год: общая сумма выплат составит 3,75 млрд рублей или 56,81 рубля на акцию')
                  h2 Акционеры Positive Technologies утвердили вторую часть дивидендов за 2022 год: общая сумма выплат составит 3,75 млрд рублей или 56,81 рубля на акцию
              time.main-blogs-list__date(datetime='2023-03-12') 12 мар, 15:14
          .main-blogs-list__link
            a(href='/blogs.html' title='Показать все') Показать все &#8250;
