
/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: local('FiraCode-VariableFont_wght'),
    // url('../font/FiraCode/FiraCode-VariableFont_wght.woff2') format('woff2 support variations'),
    // url('../font/FiraCode/FiraCode-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/FiraCode/FiraCode-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/FiraCode/FiraCode-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* Arimo */
@font-face {
  font-family: 'Arimo';
  src: local('Arimo-VariableFont_wght'),
    // url('../font/Arimo/Arimo-VariableFont_wght.woff2') format('woff2 support variations'),
    // url('../font/Arimo/Arimo-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/Arimo/Arimo-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/Arimo/Arimo-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: local('Arimo-Italic-VariableFont_wght'),
    // url('../font/Arimo/Arimo-Italic-VariableFont_wght.woff2') format('woff2 support variations'),
    // url('../font/Arimo/Arimo-Italic-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/Arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/Arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: local('Inter-VariableFont_slnt,wght'),
    // url('../font/Inter/Inter-VariableFont_slnt,wght.woff2') format('woff2 support variations'),
    // url('../font/Inter/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations'),
    url('../font/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype support variations'),
    url('../font/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* IBM Plex Mono */
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBMPlexMono-Regular'),
    //  url('../font/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2'),
    url('../font/IBMPlexMono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
