
/* Brand colors */
$Black                     : #0b1823;
$DarkGrey                  : #a9a9a9;
$LightGrey                 : #fbfeff;
$White                     : #ffffff;

$Blue                      : #0089b5;
$LightBlue                 : #02afe5;
$BrightBlue                : #00aee5;
$Red                       : #ff0000;

/* Font options */
$mainFontWeight            : 500;
$mainFontSize              : 16px;
$mainFontFamily            : 'Fira Code', monospace;
$titleFontFamily           : 'Arimo', sans-serif;
$textFontFamily            : 'Inter', sans-serif;
$terminalFontFamily        : 'IBM Plex Mono', monospace;
$mainLineHeight            : 1.5;

/* Breakpoints */
$mobileWidth               : 100%;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1280px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Other colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $BrightBlue;
$linkColor_hover           : $Blue;
$linkColor-2               : $Blue;
$linkColor-2_hover         : $BrightBlue;

$successColor              : $Blue;
$errorColor                : $Red;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .6);
$mainBoxShadow             : 8px 8px 0 0 rgba($Blue, .16);

$lightShadow               : 0 0 34px rgba(#00e1ff, .5);
$lightShadow-2             : 0 24px 220px #00e1ff;

/* Header */
$leadTextColor             : #0c1924;

/* Footer */
$footerTextColor           : #01aee5;

/* Others */
$borderColor               : rgba($BrightBlue, .3);

$buttonBackground_hover    : rgba($linkColor, .7);
$buttonColor_hover         : rgba($White, .7);
$buttonBackground_disabled : rgba($linkColor, .4);
$buttonColor_disabled      : rgba($White, .4);

/* Index */
$descTextColor             : rgba($Black, .5);

/* Article */
$articleTitleColor         : #01b0e6;

$wikiBackground            : rgba($BrightBlue, .18);
