
/* Анимация заголовков */
.animation {
  &-decode {
    &--blue {
      .animation {
        &-char {
          &::before { background: $articleTitleColor; }

          &.state-3 { color: $articleTitleColor; }
        }
      }
    }
  }

  &-word { white-space: nowrap; }

  &-char { position: relative; color: transparent; display: inline-block;
    &::before { @include pseudo; left: 50%; top: 50%; width: 0; height: 1em; background: $White; transform: translate(-50%, -50%); }

    &.state-1::before { width: 1px; }
    &.state-2::before { width: 1ch; }
    &.state-3 { color: $White;
      &::before { width: 0; }
    }
  }
}

.space { width: 1ch; display: inline-block; }

@media screen and (min-width: $laptopWidth) {
  .animation {
    &-decode {
      &--blue {
        .animation {
          &-char {
            &::before { background: $BrightBlue; }

            &.state-3 { color: $BrightBlue; }
          }
        }
      }
    }
  }
}
