
/* Меню */
.menu { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100vw; height: 100vh; overflow: hidden; opacity: 0; visibility: hidden; @include z-index('menu');
  &.open { opacity: 1; visibility: visible; }

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { transform: translateZ(0px); }

  &-overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; min-height: 100vh; overflow-x: hidden; }

  &__container { position: absolute; top: 0; right: 0; bottom: 0; width: 280px; height: 100%; box-shadow: $lightShadow, $lightShadow-2; padding: 3.25rem 1.25rem 3rem; background: $Black; display: flex; flex-direction: column; transform: translateX(100%); transition: transform .4s ease-in-out;
    &.open { transform: translateX(0px); }
  }
  &__head { position: absolute; top: 20px; right: 20px; width: calc(100% - 40px); display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center; @include z-index('menu-block'); }
  &__link {
    &--back { display: none;
      &.open { display: block; }
    }

    a { display: flex;
      svg { width: 12px; height: 12px; fill: $BrightBlue; flex: none; }
    }
  }
  &__main { display: flex; flex-direction: column; flex-grow: 1; }

  &-navigation { margin: 0 -1.25rem; overflow: auto; flex-grow: 1;
    &__list { position: relative; height: 100%; display: flex; flex-direction: column; }
    &__item {
      &:nth-child(5n + 2) > a { background: #092f40; }
      &:nth-child(5n + 3) > a { background: #09364a; }
      &:nth-child(5n + 4) > a { background: #083d53; }
      &:nth-child(5n) > a { background: #08455d; }

      & > a { padding: .5rem 1.25rem .5625rem 1.5rem; background: #0a2736; color: $BrightBlue; font-size: 22px; line-height: 24px; letter-spacing: -1.1px; display: flex; justify-content: space-between; align-items: center;
        svg { width: 7px; height: 12px; fill: none; flex: none; }
      }
    }
    &__submenu,
    &__links { position: absolute; top: 0; right: 0; width: 280px; height: 100%; background: $Black; display: none;
      &.open { display: block; }
    }
    &__link { padding: 0 1.25rem 1rem; background: #0a2736;
      &:first-child { padding-top: 1.25rem; }
      &:last-child { padding-bottom: 1.5rem; }

      a { position: relative; margin-left: .9375rem; font-size: 14px; line-height: 16px; letter-spacing: -.7px; display: flex;
        &::before { @include pseudo; left: -15px; top: 6.5px; width: 8px; height: 3px; background: url('/image/icon/tilda.svg') center no-repeat; }
      }
    }
  }

  &-info { margin: 1rem 0; display: flex; flex-direction: column;
    &.hidden { display: none; }

    &__item {
      &:not(:last-child) { margin-bottom: .25rem; }

      a { font-size: 12px; line-height: 20px; letter-spacing: -.6px; }
    }
  }

  &-social { display: flex; align-items: center;
    &.hidden { display: none; }

    &__item {
      &:not(:last-child) { margin-right: 1rem; }

      a { display: flex;
        svg { width: 32px; height: 32px; fill: $BrightBlue; flex: none; }
      }
    }
  }

  &-search { margin-top: 1rem; }
}

@media screen and (min-width: $laptopWidth) {
  .menu {
    &__container { right: 0; width: 260px;
      &.right { right: 260px;
        .menu__head { right: -240px; }
      }
      &.right-2 { right: 520px;
        .menu__head { right: -500px; }
      }
    }
    &__link:hover svg { fill: $linkColor_hover; }

    &-navigation {
      &__list { position: static; }
      &__item.current > a:first-child { background: $BrightBlue; color: $mainColor;
        svg { fill: $mainColor; }
      }
      &__submenu,
      &__links { right: -260px; width: 260px; padding-top: 3.25rem; border-left: 1px solid $borderColor; }
    }

    &-info {
      &.hidden { display: flex; }

      &__item a:hover { color: $linkColor_hover; }
    }

    &-social {
      &.hidden { display: flex; }

      &__item a:hover svg { fill: $linkColor_hover; }
    }
  }
}
