footer
  .container
    .footer.content
      .footer__main
        .footer-ascii
          .footer-ascii__art
            img(src='/image/ascii/logo-1.svg' alt='SecurityLab')
        .footer-copyright
          | _security
          span _lab_&copy;2023
      .footer__navigation
        .footer__group
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='Новости') Новости
          nav.footer-menu
            .footer-menu__title
              a(href='/blogs.html' title='Блоги') Блоги
            ul.footer-menu__list
              li.footer-menu__item
                a(href='#' title='Личные блоги') Личные блоги
              li.footer-menu__item
                a(href='#' title='Блоги компаний') Блоги компаний
              li.footer-menu__item
                a(href='#' title='Правила публикаций') Правила публикаций
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='Статьи') Статьи
            ul.footer-menu__list
              li.footer-menu__item
                a(href='#' title='Мнения') Мнения
              li.footer-menu__item
                a(href='#' title='Конкурсы') Конкурсы
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='Уязвимости') Уязвимости
            ul.footer-menu__list
              li.footer-menu__item
                a(href='#' title='PT Research Lab') PT Research Lab
        .footer__group
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='Софт') Софт
            ul.footer-menu__list
              li.footer-menu__item
                a(href='#' title='Системные утилиты') Системные утилиты
              li.footer-menu__item
                a(href='#' title='Сетевые утилиты') Сетевые утилиты
              li.footer-menu__item
                a(href='#' title='Беспроводные сети') Беспроводные сети
              li.footer-menu__item
                a(href='#' title='Конкурентная разведка') Конкурентная разведка
              li.footer-menu__item
                a(href='#' title='Программы для веб-мастеров') Программы для веб-мастеров
              li.footer-menu__item
                a(href='#' title='Разработка') Разработка
              li.footer-menu__item
                a(href='#' title='Активное противодействие') Активное противодействие
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='О проекте') О проекте
            ul.footer-menu__list
              li.footer-menu__item
                a(href='#' title='Контакты') Контакты
              li.footer-menu__item
                a(href='#' title='Реклама') Реклама
              li.footer-menu__item
                a(href='#' title='Экспорт статей') Экспорт статей
              li.footer-menu__item
                a(href='#' title='RSS') RSS
              li.footer-menu__item
                a(href='#' title='Использование материалов') Использование материалов
              li.footer-menu__item
                a(href='#' title='Обработка данных') Обработка данных
              li.footer-menu__item
                a(href='#' title='Карта сайта') Карта сайта
        .footer__group
          nav.footer-menu
            .footer-menu__title
              a(href='#' title='PHDays') PHDays
