-
  let menu = [
    { url: '/blogs.html', title: 'Блоги' },
    { url: '#', title: 'PHDays' },
    { url: '#', title: 'The Standoff' }
  ]

header
  .container
    .header.content
      .header-ascii
        .header-ascii__art
          //- img.logo-1(src='/image/ascii/logo-1.svg' alt='SecurityLab')
        .header-ascii__lead новости кибербезопасности
      .header__block
        .header-logo
          a(href='/' title='SecurityLab')
            svg
              use(href='/image/logo.svg#logo')
        .header__group
          nav.header-menu
            ul
              each link in menu
                li
                  a(href=link.url target=(link.target ? '_blank' : undefined) title=link.title) #{ link.title }
          .header-menu-bar
            a(href='#' data-action='open-menu' title='Открыть меню')
              svg
                use(href='/image/icon/menu.svg#menu')
