// Menu
.menu
  .menu-overlay(data-action='close-menu')
  .menu__container
    .menu__head
      .menu__link.menu__link--close
        a(href='#' data-action='close-menu' title='Закрыть меню')
          svg
            use(href='/image/icon/close.svg#close')
      .menu__link.menu__link--back
        a(href='#' data-action='close-submenu' title='Назад')
          svg
            use(href='/image/icon/back.svg#back')
    .menu__main
      nav.menu-navigation
        ul.menu-navigation__list
          li.menu-navigation__item
            a(href='#' title='Новости') Новости
          li.menu-navigation__item
            a(href='#' title='Статьи') Статьи
          li.menu-navigation__item
            a(href='#' title='Уязвимости') Уязвимости
          li.menu-navigation__item
            a(href='/blogs.html' title='Блоги') Блоги
          li.menu-navigation__item
            a(href='#' data-action='open-submenu' data-submenu='glossary' title='Глосарий')
              span Глосарий
              svg
                use(href='/image/icon/right.svg#right')
            ul.menu-navigation__submenu(data-name='glossary')
              li.menu-navigation__item
                a(href='#' title='Терминология') Терминология
              li.menu-navigation__item
                a(href='#' title='Хакерские группировки') Хакерские группировки
              li.menu-navigation__item
                a(href='#' data-action='open-links' data-links='soft' title='Каталог софта')
                  span Каталог софта
                  svg
                    use(href='/image/icon/right.svg#right')
                ul.menu-navigation__links(data-name='soft')
                  li.menu-navigation__link
                    a(href='#' title='Системные утилиты') Системные утилиты
                  li.menu-navigation__link
                    a(href='#' title='Сетевые утилиты') Сетевые утилиты
                  li.menu-navigation__link
                    a(href='#' title='Аппаратные утилиты') Аппаратные утилиты
                  li.menu-navigation__link
                    a(href='#' title='Беспроводные сети') Беспроводные сети
                  li.menu-navigation__link
                    a(href='#' title='Загрузочные антивирусные диски') Загрузочные антивирусные диски
                  li.menu-navigation__link
                    a(href='#' title='Защита от целенаправленных атак') Защита от целенаправленных атак
                  li.menu-navigation__link
                    a(href='#' title='Конкурентная разведка') Конкурентная разведка
                  li.menu-navigation__link
                    a(href='#' title='Ограничение доступа') Ограничение доступа
                  li.menu-navigation__link
                    a(href='#' title='Программы для веб-мастеров') Программы для веб-мастеров
                  li.menu-navigation__link
                    a(href='#' title='Распределенная структура ложных целей') Распределенная структура ложных целей
      ul.menu-info
        li.menu-info__item
          a(href='#' title='Контакты') Контакты
        li.menu-info__item
          a(href='#' title='Реклама') Реклама
        li.menu-info__item
          a(href='#' title='Экспорт статей') Экспорт статей
        li.menu-info__item
          a(href='#' title='Карта сайта') Карта сайта
      ul.menu-social
        li.menu-social__item
          a(href='tg://resolve?domain=SecLabNews' target='_blank' title='Телеграм')
            svg
              use(href='/image/icon/telegram.svg#telegram')
        li.menu-social__item
          a(href='//twitter.com/SecurityLabnews' target='_blank' title='Твиттер')
            svg
              use(href='/image/icon/twitter.svg#twitter')
        li.menu-social__item
          a(href='//vk.com/public47494392' target='_blank' title='ВКонтакте')
            svg
              use(href='/image/icon/vk.svg#vk')
        li.menu-social__item
          a(href='#' title='RSS')
            svg
              use(href='/image/icon/rss.svg#rss')
    .menu-search
      form.form.menu-search__form(name='menu-search' action='/' autocomplete='off' accept-charset='utf-8')
        fieldset.form__line
          input.form__input(type='search' name='search' required placeholder='Поиск' value='' title='Поиск')
          .form__button
            .button.button--search.button--disabled
              a(href='#' data-action='form-send' title='Найти') Найти
// Menu end
