
/* Article page */
#article {
  .container { padding-top: .75rem; padding-bottom: 2.25rem;
    .article { display: flex; flex-direction: column-reverse;
      &__sidebar { margin-top: 2.25rem; }
      &__banner { display: none; }

      &-feed { border: 1px solid $borderColor; border-radius: 12px; margin: 0 -.625rem; padding: .625rem .625rem 1.25rem; overflow: hidden;
        &__title { margin-bottom: .5rem;
          h2 { border-radius: 2px; padding: 0 .25rem; background: $BrightBlue; color: $White; font-weight: 600; line-height: 22px; letter-spacing: normal; text-transform: uppercase; box-decoration-break: clone; background-clip: padding-box; display: inline-block;
            span { position: relative; }
          }
        }

        &-list { display: flex;
          &__item { width: 280px; }
          &__head { margin-bottom: .5rem; display: flex; }
          &__date { color: $Blue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
          &__rubric { position: relative; margin-left: 1.1875rem;
            &::before { @include pseudo; left: -9px; top: -1.5px; width: 1px; height: 16px; background: $Blue; }

            a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; display: flex; }
          }
          &__title a { color: $mainColor; display: flex; }
          &__image { display: none; }
        }
      }

      &__head {
        &--small-image {
          .article {
            &__image { position: absolute; right: 0; bottom: 0; margin: 0; z-index: -1;
              img { width: 260px; height: 260px; }
            }
            &__title { margin-top: .3125rem;
              h1 { border-radius: 3px; padding-right: .25rem; background: $White; box-decoration-break: clone; background-clip: padding-box; display: inline; }
            }
          }
        }
      }
      &__main { display: flex; flex-direction: column; }
      &__group { position: relative; min-height: 290px; margin-bottom: 1.5rem; @include z-index('main-block'); }
      &__image { margin: -.8125rem -1rem 1rem; overflow: hidden; display: flex;
        picture { display: flex; }
        img { width: 100%; flex: none; }
      }
      &__title { margin-bottom: 1.375rem;
        h1 { color: $articleTitleColor; display: inline-block;
          span { position: relative; }
        }
      }
      &__preview p { font: 500 18px/28px $textFontFamily; letter-spacing: -.5px; }
      &__details { margin-top: .625rem; display: flex; justify-content: space-between; align-items: center; }
      &__date { color: $Blue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }

      &-tags { display: flex;
        &__link,
        &__tag {
          &:not(:last-child) { margin-right: .4375rem; }

          a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
        }
        &__tag { display: none; }
      }

      &__body { border-top: 1px solid $borderColor; margin-top: 1rem; padding-top: 1rem; }

      &__subtitle { margin-bottom: 1rem;
        h2 { font-weight: 600; font-size: 28px; line-height: 28px; letter-spacing: -1.4px; }
        h3 { font-size: 20px; line-height: 20px; letter-spacing: -1px; text-transform: none; }
      }

      &__text {
        &:not(:last-child) { margin-bottom: 1rem; }

        p, .p { font: 500 18px/28px $textFontFamily; letter-spacing: -.5px; display: block;
          &:not(:last-child) { margin-bottom: 1rem; }

          a { border-bottom: 1px solid $borderColor; }
        }

        .wiki { position: relative; border: none; display: inline-block; cursor: pointer;
          &-tooltip { position: absolute; left: 0; display: none; }

          span { position: relative; border-radius: 1px; padding: 0 .125rem; background: $wikiBackground; color: $mainColor; line-height: 23px; box-decoration-break: clone; background-clip: padding-box; display: inline-block; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 1.25rem; padding-bottom: 2.25rem;
      .article {
        &__group { margin-bottom: 1.25rem; }

        &-feed { margin: 0;
          &__title { margin-bottom: 1rem; }
        }

        &__image { border-radius: 12px; margin: 0 0 1.25rem; }
        &__title { margin-bottom: 1rem; }
        &__details { margin-top: 1rem; }

        &-tags {
          &__link { display: none; }
          &__tag { display: flex; }
        }

        &__body { margin-top: 1.25rem; padding-top: 1.25rem; }

        &__subtitle { margin-bottom: 1.25rem;
          h2 { line-height: 26px; }
          h3 { font-weight: bold; font-size: 20px; line-height: 16px; letter-spacing: -1px; text-transform: none; }
        }

        &__text:not(:last-child) { margin-bottom: 1.25rem; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .article { flex-direction: row;
        &__sidebar { width: calc((100% - 2.5rem) / 3); margin: 0 1.25rem 0 0; }
        &__banner { margin-bottom: 2.5rem; display: block;
          &--small a { height: 296px; }

          a { border-radius: 12px; overflow: hidden; display: flex;
            img { width: 100%; object-fit: cover; flex: none; }
          }
        }

        &-feed { padding: 1.25rem;
          &-list { flex-direction: column;
            &__item { width: auto;
              &:not(:last-child) { border-bottom: 1px solid $borderColor; margin-bottom: 1.25rem; padding-bottom: 1rem; }
            }
            &__rubric a:hover { color: $linkColor-2_hover; }
            &__title a:hover { color: $linkColor_hover; }
            &__image { margin-top: 1rem; display: block;
              a { display: flex;
                &:hover img { filter: brightness(85%); }

                img { width: 100%; flex: none; }
              }
            }
          }
        }

        &__main { width: calc((100% - 2.5rem) / 3*2 + 1.25rem); }
        &__title h1 { color: $BrightBlue; }

        &-tags {
          &__link,
          &__tag {
            a:hover { color: $linkColor-2_hover; }
          }
        }

        &__text {
          p, .p {
            a:hover { border-color: $linkColor_hover; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .article {
        &__sidebar { width: 300px; margin-right: 2.5rem; }
        &__head {
          &--small-image { min-height: 231px;
            .article {
              &__group { min-height: auto; }
              &__image { top: 0; bottom: auto; }
              &__title { width: 580px; margin-top: 0;
                h1 { border-radius: none; padding: 0; background: transparent; box-decoration-break: slice; background-clip: content-box; display: inline-block; }
              }
              &__preview { width: 580px; }
            }
          }
        }
        &__main { width: 860px; }
        &__title { width: 700px;
          h1 { font-size: 40px; line-height: 40px; letter-spacing: -2px; }
        }
        &__preview { width: 700px; }
        &__details { width: 580px; }
        &__text { width: 700px; }
      }
    }
  }
}
