
/* Blogs page */
#blogs {
  .container { padding-top: .75rem; padding-bottom: 1.5rem;
    // .blogs {}

    @media screen and (min-width: $tabletWidth) { padding-top: 1.25rem; padding-bottom: 1rem;
      // .blogs {}
    }
    @media screen and (min-width: $laptopWidth) {
      // .blogs {}
    }
    @media screen and (min-width: $desktopWidth) {
      // .blogs {}
    }
  }
}
