
/* Glossary page */
#glossary {
  .container { padding-top: .75rem; padding-bottom: 1.5rem;
    .glossary {}

    @media screen and (min-width: $tabletWidth) { padding-top: 1.25rem; padding-bottom: 1rem;
      .glossary {}
    }
    @media screen and (min-width: $laptopWidth) {
      .glossary {}
    }
    @media screen and (min-width: $desktopWidth) {
      .glossary {}
    }
  }
}
