
/* Index page */
#main {
  .container { padding-top: .75rem; padding-bottom: 1.5rem;
    .main {
      &-list { display: flex; flex-direction: column;
        &__card { border-bottom: 1px solid $borderColor; padding-bottom: 1rem; display: flex; flex-direction: column-reverse;
          &:not(:last-child) { margin-bottom: 1rem; }
          &:nth-child(1) { flex-direction: column;
            .main-list {
              &__head { min-height: 290px; }
              &__title { margin-top: .3125rem;
                a h1 { border-radius: 3px; padding: 0 .25rem; background: $linkColor; color: $White; box-decoration-break: clone; background-clip: padding-box; display: inline; transition: all .4s ease-out;
                  span { position: relative; }
                }
              }
              &__details { margin: .625rem 0 0 0; }
            }
          }
        }
        &__head { position: relative; @include z-index('main-block'); }
        &__title {
          a { color: $mainColor; }
        }
        &__image { position: absolute; right: 0; bottom: 0; z-index: -1;
          a { border-radius: 4px; overflow: hidden; display: flex;
            img { width: 260px; height: 260px; flex: none; }
          }
        }
        &__details { margin-bottom: .3125rem; display: flex; justify-content: space-between; align-items: center; }
        &__date { color: $BrightBlue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }

        &-tags { display: flex;
          &__link,
          &__tag {
            &:not(:last-child) { margin-right: .4375rem; }

            a { color: $linkColor; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 1.25rem; padding-bottom: 1rem;
      .main {
        &-list { border: 1px solid $borderColor; border-radius: 8px; box-shadow: $mainBoxShadow; padding: 1.25rem; flex-direction: row; flex-wrap: wrap; justify-content: space-between;
          &__card { width: calc((100% - 7.5rem) / 4 + 1.25rem); border: none; padding: 0; flex-direction: column; justify-content: space-between;
            &:not(:last-child) { margin: 0; }

            &:nth-child(1) { width: 100%; border-bottom: 1px solid $borderColor; padding-bottom: 1.25rem; }
            &:nth-child(2) { width: calc((100% - 7.5rem) / 4); }
            &:not(:first-child) { margin-top: 1.25rem; }
            &:nth-child(n + 3) { border-left: 1px solid $borderColor; margin-left: 1.25rem; padding-left: 1.25rem; }
          }
          &__details { margin-top: 1.25rem; }
          &__date { color: $Blue; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .main {
        &-list {
          &__card {
            &:nth-child(1) {
              .main-list {
                &__head { width: calc(100% - 280px); min-height: 227px; }
                &__title a {
                  &:hover h1 { background: $linkColor_hover; }

                  h1 { background: $LightBlue; }
                }
                &__image { top: 0; right: -280px; bottom: auto; }
                &__details { width: calc(100% - 280px); margin-top: 1.25rem; }
              }
            }
          }
          &__title a:hover { color: $linkColor_hover; }
          &__image a:hover img { filter: brightness(85%); }

          &-tags {
            &__link,
            &__tag {
              a { color: $linkColor-2;
                &:hover { color: $linkColor-2_hover; }
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .main {
        &-list {
          &__card {
            &:nth-child(1) {
              .main-list {
                &__title { margin-top: .5rem; }
              }
            }
          }
        }
      }
    }
  }
}

#main-news {
  .container { padding-top: .75rem; padding-bottom: 2.25rem;
    .main-news { display: flex; flex-direction: column;
      &__sidebar { margin-bottom: 2.25rem; }
      &__banner { display: none; }

      &-top { border: 1px solid $borderColor; border-radius: 12px; margin: 0 -.625rem; padding: .625rem .625rem 1.25rem; overflow: hidden;
        &__title { margin-bottom: .5rem;
          h2 { border-radius: 2px; padding: 0 .25rem; background: $BrightBlue; color: $White; font-weight: 600; line-height: 22px; letter-spacing: normal; text-transform: uppercase; box-decoration-break: clone; background-clip: padding-box; display: inline-block;
            span { position: relative; }
          }
        }

        &-list { display: flex;
          &__item { position: relative; width: 280px; }
          &__count { position: absolute; top: 0; right: 0; z-index: -1;
            &-1 img { width: 45px; height: 75px; }
            &-2 img { width: 57px; height: 75px; }
            &-3 img { width: 57px; height: 77px; }
            &-4 img { width: 61px; height: 75px; }
            &-5 img { width: 60px; height: 76px; }
            &-6 img { width: 57px; height: 75px; }
            &-7 img { width: 53px; height: 77px; }
            &-8 img { width: 61px; height: 73px; }
          }
          &__head { margin-bottom: .5rem; display: flex; }
          &__date { color: $Blue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
          &__rubric { display: none; }
          &__title a { color: $mainColor; display: flex; }
          &__image { display: none; }
        }
      }

      &__title { margin-bottom: .75rem;
        h2 { border-radius: 3px; padding: 0 .3125rem; background: $BrightBlue; color: $White; font-weight: 600; font-size: 30px; line-height: 30px; letter-spacing: normal; text-transform: uppercase; box-decoration-break: clone; background-clip: padding-box; display: inline-block;
          span { position: relative; }
        }
      }
      &__link { display: none; }

      &-list { display: flex; flex-direction: column;
        &__item { border-bottom: 1px solid $borderColor; padding-bottom: 1rem;
          &:not(:last-child) { margin-bottom: .75rem; }
        }
        &__head { margin-bottom: .5rem; display: flex; align-items: center; }
        &__date { color: $Blue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
        &__rubric { position: relative; margin-left: 1.1875rem;
          &::before { @include pseudo; left: -9px; top: -1.5px; width: 1px; height: 16px; background: $Blue; }

          a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; display: flex; }
        }
        &__details { display: flex; flex-direction: column; }
        &__title a { color: $mainColor; display: flex; }
        &__preview { display: none; }
      }

      &__button { margin-top: .75rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 1.25rem; padding-bottom: 2.5rem;
      .main-news {
        &-top { margin: 0;
          &__title { margin-bottom: 1rem; }

          &-list {
            &__date { display: none; }
            &__rubric { display: block;
              a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; display: flex; }
            }
          }
        }

        &__main { position: relative; }
        &__title { margin-bottom: 1.25rem; }
        &__link { position: absolute; top: 13px; right: 0; display: flex; justify-content: flex-end;
          a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
        }

        &-list {
          &__item:not(:last-child) { margin-bottom: 1.5rem; }
          &__head { margin-bottom: .75rem; }
          &__preview { margin-top: .5rem; display: block;
            p { color: $descTextColor; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .main-news { flex-direction: row;
        &__sidebar { width: calc((100% - 2.5rem) / 3); margin: 0 1.25rem 0 0; }
        &__banner { margin-bottom: 2.5rem; display: block;
          a { border-radius: 12px; overflow: hidden; display: flex;
            img { width: 100%; flex: none; }
          }
        }

        &-top { padding: 1.25rem;
          &-list { flex-direction: column;
            &__item { width: auto;
              &:not(:last-child) { border-bottom: 1px solid $borderColor; margin-bottom: 1.25rem; padding-bottom: 1rem; }
            }
            &__rubric a:hover { color: $linkColor-2_hover; }
            &__title a:hover { color: $linkColor_hover; }
            &__image { margin-top: 1rem; display: block;
              a { display: flex;
                &:hover img { filter: brightness(85%); }

                img { width: 100%; flex: none; }
              }
            }
          }
        }

        &__main { width: calc((100% - 2.5rem) / 3*2 + 1.25rem); }
        &__link a:hover { color: $linkColor-2_hover; }

        &-list {
          &__rubric a:hover { color: $linkColor-2_hover; }
          &__details { flex-direction: row; justify-content: space-between; }
          &__title a:hover { color: $linkColor_hover; }
          &__preview { min-width: calc((100% - 1.25rem) / 2); margin: 0 0 0 1.25rem; }
        }

        &__button { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .main-news {
        &__sidebar { width: 300px; margin-right: 2.5rem; }
        &__main { width: 860px; }
        &__title h2 { font-size: 36px; line-height: 36px; }
        &__link { top: 17px; }

        &-list {
          &__title h4 { font-size: 19px; line-height: 24px; }
          &__preview { min-width: calc((100% - 2.5rem) / 2); margin: 0 0 0 2.5rem; }
        }
      }
    }
  }
}

#main-blogs {
  .container { padding-top: 3.75rem; padding-bottom: 2.25rem;
    .main-blogs { border: 1px solid $BrightBlue; border-radius: 12px; margin: 0 -.625rem; padding: 2.8125rem 1rem 1rem;
      &::before { @include pseudo; left: 40px; top: 59px; right: 40px; width: calc(100% - 80px); height: 3px; background: $mainBackground; }

      &__image { position: absolute; left: 44px; top: 0; right: 44px; width: calc(100% - 88px); display: flex; justify-content: center;
        img { width: 100%; height: 112px; filter: drop-shadow($lightShadow) drop-shadow($lightShadow-2); flex: none; }
      }
      &__title { margin-bottom: .4375rem;
        h2 { border-radius: 2px; padding: 0 .25rem; background: $BrightBlue; color: $White; font-weight: 600; line-height: 18px; letter-spacing: normal; text-transform: uppercase; box-decoration-break: clone; background-clip: padding-box; display: inline-block;
          span { position: relative; }
        }
      }

      &-list { display: flex; flex-direction: column;
        &__item { border-top: 1px solid $borderColor; padding-top: .75rem; display: flex; flex-direction: column;
          &:not(:first-child) { margin-top: .625rem; }
        }
        &__head { display: flex; justify-content: space-between; align-items: center; }
        &__group { display: flex; flex-direction: column; }
        &__name { display: flex;
          a { color: $mainColor; }
        }
        &__desc { display: none; }
        &__image { margin-left: 1rem; flex: none;
          a { border-radius: 16px; overflow: hidden; display: flex;
            img { width: 52px; height: 52px; flex: none; }
          }
        }
        &__details { margin-top: 1.25rem; display: flex; flex-direction: column; }
        &__title { display: flex;
          a { color: $mainColor; }
        }
        &__date { margin-top: .625rem; color: $BrightBlue; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
        &__link { display: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 7.375rem; padding-bottom: 2.25rem;
      .main-blogs { margin: 0; padding: 4.8125rem 1.5rem 1.1875rem;
        &::before { left: 117px; top: 117px; right: 117px; width: calc(100% - 234px); }

        &__image { left: 125px; right: 125px; width: auto;
          img { width: 518px; height: 200px; filter: none; }
        }
        &__title { margin-bottom: 1.8125rem; display: flex; justify-content: center; }

        &-list { flex-direction: row; flex-wrap: wrap; justify-content: space-between;
          &__item { width: calc((100% - 1.25rem) / 2); border: 1px solid $borderColor; border-radius: 3px; box-shadow: $mainBoxShadow; padding: 1rem; flex-direction: column-reverse; justify-content: space-between;
            &:not(:first-child) { margin: 0; }

            &:nth-child(odd) { margin-right: 1.25rem; }
            &:nth-child(n + 3) { margin-top: 1.25rem; }
          }
          &__desc { color: $descTextColor; font-weight: 450; font-size: 15px; line-height: 18px; display: block; }
          &__image { margin-left: 1.25rem; }
          &__details { min-height: 180px; border-bottom: 1px solid $borderColor; margin: 0 0 1rem; padding-bottom: 1rem; flex-direction: column-reverse; justify-content: flex-end; }
          &__date { margin: 0 0 .5rem; }
          &__link { width: 100%; margin-top: 1.625rem; display: flex; justify-content: center;
            a { color: $linkColor-2; font-size: 13px; line-height: 13px; letter-spacing: -.65px; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .main-blogs {
        &::before { left: 229px; right: 229px; width: calc(100% - 458px); }

        &__image { left: 237px; right: 237px; }

        &-list {
          &__name a:hover { color: $linkColor_hover; }
          &__title a:hover { color: $linkColor_hover; }
          &__image a:hover img { filter: brightness(85%); }
          &__link a:hover { color: $linkColor-2_hover; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .main-blogs {
        &::before { left: 324px; right: 324px; width: calc(100% - 648px); }

        &__image { left: 340px; right: 340px;
          img { width: 600px; height: 232px; }
        }
        &__title h2 { border-radius: 3px; padding: 0 .3125rem; font-size: 36px; line-height: 36px; }

        &-list {
          &__item { width: calc((100% - 3rem) / 3);
            &:nth-child(odd) { margin: 0; }
            &:nth-child(n + 3) { margin: 0; }

            &:not(:nth-child(3n)) { margin-right: 1.5rem; }
            &:nth-child(n + 4) { margin-top: 1.5rem; }
          }
          &__title h2 { font-weight: 600; font-size: 20px; line-height: 22px; letter-spacing: -.4px; }
        }
      }
    }
  }
}
